@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');

html {
  height: 100vh;
}

#root {
  height: 100%;
}

body {
  background: linear-gradient(-70deg, rgba(22,0,0,0) 50%, rgb(0, 0, 0) 95%) fixed, url("/public/main.jpeg") center / cover no-repeat fixed;
  font-family: 'Jost', sans-serif;
  height: 100%;
  color: white;
}

h1 {
  font-size: 5rem;
  color: white;
  font-family: 'Cormorant SC', serif;
}

h2 {
  font-size: 3rem;
  font-family: 'Cormorant SC', serif;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  color: white;
}

p {
  font-size: 1rem;
}

/* -- Main -- */

.main-page-margin {
  margin-bottom: 35vh;
}

.main-page-container {
  display: flex;
  flex-direction: column;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20vw;
  padding-top: 12vw;
  height: 100%;

}

.main-page-content h1, p, a {
  color: white;
}

/* -- Navigation -- */

.page-selection-static {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-selection-static span {
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  color: white;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 46%;
  border: solid rgb(236, 228, 255) 5px;
  animation: fadeIn 5s;
}
.contact-information p {
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
}

.contact-information p a {
  text-decoration: none;
  color: white;
}

.contact-information a:hover {
  color: orange;
}

.title-and-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.page-selection-static a {
  color: white;
  text-decoration: none;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.page-selection-static h3:hover {
  color: black;
  transform: scale(1.5);
}

.page-selection-animated a {
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 5rem;
  text-align: center;
  font-size: 1.5rem;
}

.page-selection-animated a:hover {
  color: orange;
}



/*-- Content -- */

.art-and-software-page-container {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s;
  height: 100%;
}

.artwork {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
  padding-bottom: 2rem;
}

.img-and-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  filter: grayscale(100%);
}

.img-and-desc:hover {
  filter: grayscale(0%);
}

.img-and-desc a {
  text-decoration: none;
  font-weight: bold;
}

.img-and-desc a:hover {
  color: orange;
}

.artwork img {
  border: white 1px solid;
  max-width: 100%;
  margin: 0.5rem;
}



.software {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.software img {
  max-width: 100%;
  border: white 1px solid;
  margin: 0.5rem;
}



/* -- Footer -- */

.footer {
  display: flex;
  justify-content: center;
  margin: 0;
}

.footer > div {
  color: white;
  opacity: 30%;
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* --- Responsiveness -- */

@media all and (min-width: 1024px) and (max-width: 1280px) {
  h1 {
    font-size: 5vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 5vw;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  h1 {
    padding-top: 4rem;
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .main-page-margin {
    margin: 2rem;
  }

  .page-selection-animated a {
    display: flex;
  }

  .contact-information {
    width: 10rem;
  }
}

@media all and (max-width: 480px) {
  h1 {
    padding-top: 4rem;
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .main-page-margin {
    margin: 2rem;
  }

  .page-selection-animated a {
    display: flex;
  }

  .contact-information {
    width: 10rem;
  }
}

@media all and (max-width: 480px) {
  h1 {
    padding-top: 2rem;
    font-size: 2rem;
  }
}

@media all and (max-width: 290px) {
  h1 {
    padding-top: 2rem;
    font-size: 2.1rem;
  }
}